/* [접근 금지] 컬러 파레트 */
// blue
$blue300: #90eafc;
$blue400: #60def7;
$blue500: #11cdf2;
$blue600: #00b8e5;
$blue700: #0093c4;
$blue800: #066a91;
$blue900: #084f6b;
$blue600p: #268cad;
$blue500p: #3fafc9;
$blue400p: #7fc6d6;
$blue300p: #c5d6e3;

// red
$red300: #ffcfbf;
$red400: #ffa182;
$red500: #ff875c;
$red600: #ff6f36;
$red700: #ff5e1f;
$red800: #f24500;
$red900: #c43100;
$red600p: #e35f42;
$red500p: #f5765d;
$red400p: #fa9e7f;
$red300p: #fad3c5;

// primary
$primary300: #cacafc;
$primary400: #a2a2fc;
$primary500: #7979f7;
$primary600: #5f5fed;
$primary700: #4545d1;
$primary800: #3d389c;
$primary900: #383878;
$primary600p: #5f5fba;
$primary500p: #7979d9;
$primary400p: #a6a6ed;
$primary300p: #cfcfe5;

// emerald
$emerald300: #8ceded;
$emerald400: #5be3de;
$emerald500: #26d1d1;
$emerald600: #1cb8b8;
$emerald700: #10a1a1;
$emerald800: #107575;
$emerald900: #155c5c;
$emerald600p: #1f9399;
$emerald500p: #41b6b9;
$emerald400p: #7dcdcf;
$emerald300p: #bdd9d9;

// navy
$navy400: #c8cfdc;
$navy500: #98a0b3;
$navy600: #707991;
$navy700: #464f69;
$navy800: #323b54;
$navy850: #262f4a;
$navy900: #262f4a;

// black
$black100: #1a1a1a;
$black200: #111111;

//gray
$gray: #949494;
$gray100: #777777;
$gray150: #616161;
$gray200: #555555;
$gray250: #3f3f3f;
$gray300: #323232;
$gray350: #2a2a2a;
$gray400: #1f1f1f;

//white
$white: #ffffff;
$white100: #fcfcfc;
$white150: #f5f5f5;
$white200: #efefef;
$white250: #e8e8e8;
$white300: #dfdfdf;
$white350: #c8c8c8;
$white400: #b7b7b7;

/* 자주 쓰는 색 */
$primary-color: $primary500;
$danger-color: $red800;
$fail-color: rgb(255, 67, 67);
$main-color: $gray350;
$sub-color: $gray100;
$unchecked-color: $white300;

$red-color: $red500;
$emerald-color: $emerald500;
$blue-color: $blue500;
$navy-color: $navy600;

$label-color: $sub-color;
$placeholder-color: $unchecked-color;

// link
$link-color: $main-color;
$link-focus-color: $main-color;
$link-visited-color: $main-color;
$link-hover-color: $main-color;
$link-active-color: $main-color;
