// 자주 쓰는 font size
$fs-title: 20px;
$fs-main: 17px;
$fs-btn: 15px;


// standard font size
$fs-xs: 5px;
$fs-sm: 10px;
$fs-md: 15px;
$fs-lg: 20px;
$fs-xl: 25px;
$fs-xxl: 35px;


// font weight
$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400; //normal
$fw-medium: 500;
$fw-bold: 700; //bold
$fw-black: 900;


// letter spacing
$ls-main: -0.5px;
$ls-btn: 1.25px;

// font family
$ff-main: 'Noto Sans KR', sans-serif;