button {
  @include btn;
  @include font($fs-btn, $fw-bold);
  border: 0;
  font-size: $fs-md;
  letter-spacing: $ls-btn;

  &:hover {
    cursor: pointer;
  }

  @media #{$tablet} {
    width: 80%;
    max-width: 700px;
    font-size: $fs-lg;
  }

  @media #{$pc} {
    width: 50%;
    max-width: 1000px;
  }
}

$colors: (
  "primary": $primary-color,
  "red": $red-color,
  "emerald": $emerald-color,
  "blue": $blue-color,
  "navy": $navy-color,
  "main": $main-color,
  "sub": $sub-color,
  "white": $white400,
  "light-primary": $primary400,
);

@each $key, $value in $colors {
  .#{$key}-bg {
    background-color: if($key == "sub", $white150, $value);
    color: if($key == "sub", $value, $white);
  }

  .#{$key}-outline-bg {
    border: 1px solid $value;
    color: $value;
    background-color: $white;
  }

  .#{$key}-blank-bg {
    color: $value;
    background-color: $white;
  }
}

.unchecked-bg {
  color: $sub-color;
  background-color: $unchecked-color;
}
