@mixin flex($flex-d: row) {
  display: flex;
  flex-direction: $flex-d;
}

@mixin flex-xy($juco: center, $alit: center) {
  display: flex;
  justify-content: $juco;
  align-items: $alit;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin text-overflow-ellipsis {
  overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}

@mixin ignoreAppMargin {
  margin-left: calc(-1 * $margin-mobile);
}

@mixin accountLayOut {
  width: 100%;

  @media #{$tablet} {
    width: 80%;
    max-width: 600px;
  }

  @media #{$pc} {
    width: 60%;
    max-width: 1000px;
  }
}

@mixin scrollbar {
  ::-webkit-scrollbar{height: 0px;}
  ::-webkit-scrollbar-track {background:transparent;}
  ::-webkit-scrollbar-thumb {background:$primary300;  border-radius: 1000px;}
  ::-webkit-scrollbar-thumb:hover {background: $primary-color;}
  ::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment 
  {
      width:16px;height:16px;background:transparent;
  } 

  @media #{$tablet} {
    ::-webkit-scrollbar{height: 7px;}
  }
}